@use 'variables' as vars
@use 'test'

@media (prefers-color-scheme: light)
  :root
    --modal-bg-color: #{vars.$lightModalBgColor}
    --modal-border-color: #{vars.$whiteSmoke}
    --modal-dialog-color: #{vars.$lightModalDialogColor}

@media (prefers-color-scheme: dark)
  :root
    --modal-bg-color: #{vars.$darkModalBgColor}
    --modal-border-color: #{vars.$heavyGray}
    --modal-dialog-color: #{vars.$darkModalDialogColor}

:root
  --font-size: #{vars.$baseFontSize}
  --font-family: #{vars.$baseFontFamily}
  --text-color: #{vars.$gray900}
  --border-color: #{vars.$gray400}
  --bg-color: #{vars.$noneColor}
  --elevation-bg: #{vars.$white}
  --shadow-inner: #{vars.$lightShadowIn}
  --shadow-middle: #{vars.$lightShadowMid}
  --shadow-outer: #{vars.$lightShadowOut}
  --border-radius: 8px
  --sidebar-bg-odd: #{vars.$lightSidebarBgColorOdd}
  --sidebar-bg-even: #{vars.$lightSidebarBgColorEven}
  --ruler-bg-odd: #{vars.$lightRulerBgColorOdd}
  --ruler-bg-even: #{vars.$lightRulerBgColorEven}
  --ruler-cell-bg-even: #{vars.$lightRulerCellBgColorEven}
  --canvas-bg-odd: #{vars.$lightCanvasBgColorOdd}
  --canvas-bg-even: #{vars.$lightCanvasBgColorEven}
  --canvas-border: #{vars.$lightCanvasBorderColor}
  --ruler-sat-text: #{vars.$lightSaturdayTextColor}
  --ruler-sun-text: #{vars.$lightSundayTextColor}
  --ruler-sat-bg: #{vars.$lightSaturdayBgColor}
  --ruler-sun-bg: #{vars.$lightSundayBgColor}
  --link-text: #{vars.$lightLinkTextColor}
  --link-hover-bg: #{vars.$lightLinkHoverBgColor}
  --text-shadow: #{vars.$lightTextShadow}
  --event-node-text-color: #{vars.$lightEventNodeTextColor}
  --event-node-bg-color: #{vars.$lightEventNodeBgColor}
  --event-node-border-color: #{vars.$lightEventNodeBorderColor}
  --event-node-text-color-hovered: #{vars.$lightEventNodeHoverTextColor}
  --event-node-bg-color-hovered: #{vars.$lightEventNodeHoverBgColor}
  --event-node-border-color-hovered: #{vars.$lightEventNodeHoverBorderColor}
  --tooltip-bd-radius: 8px
  --tooltip-tail-size: 10px
  --tooltip-padding: 10px
  // 20Q = 14.2pt = 18.94px, 18Q = 12.8pt = 17.07px, 14Q = 9.9pt = 13.2px, 13Q = 9.2pt = 12.27px, 12Q = 8.5pt = 11.34px
  --tooltip-font-size: 12px
  --tooltip-text-color: #{vars.$lightTooltipTextColor}
  --tooltip-bg-color: #{vars.$lightTooltipBgColor}
  --marker-bg-color: #{vars.$lightMarkerBgColor}
  --offtone-color: #{vars.$cloud}
  --offtone-hover-color: #{vars.$steelBlue}
  --button-bg-color: #{vars.$gray200}
  --button-bg-color-hovered: #{vars.$gray100}
  --button-text-color: #{vars.$gray700}
  --button-text-color-hovered: #{vars.$steelBlue}
  transition: .3s
  scroll-behavior: smooth

.dark-theme,
.darkmode--activated
  --text-color: #{vars.$gray100}
  --border-color: #{vars.$gray600}
  --bg-color: #{vars.$noneColor}
  --elevation-bg: #{vars.$gray950}
  --shadow-inner: #{vars.$darkShadowIn}
  --shadow-middle: #{vars.$darkShadowMid}
  --shadow-outer: #{vars.$darkShadowOut}
  --sidebar-bg-odd: #{vars.$darkSidebarBgColorOdd}
  --sidebar-bg-even: #{vars.$darkSidebarBgColorEven}
  --ruler-bg-odd: #{vars.$darkRulerBgColorOdd}
  --ruler-bg-even: #{vars.$darkRulerBgColorEven}
  --ruler-cell-bg-even: #{vars.$darkRulerCellBgColorEven}
  --canvas-bg-odd: #{vars.$darkCanvasBgColorOdd}
  --canvas-bg-even: #{vars.$darkCanvasBgColorEven}
  --canvas-border: #{vars.$darkCanvasBorderColor}
  --ruler-sat-text: #{vars.$darkSaturdayTextColor}
  --ruler-sun-text: #{vars.$darkSundayTextColor}
  --ruler-sat-bg: #{vars.$darkSaturdayBgColor}
  --ruler-sun-bg: #{vars.$darkSundayBgColor}
  --link-text: #{vars.$darkLinkTextColor}
  --link-hover-bg: #{vars.$darkLinkHoverBgColor}
  --text-shadow: #{vars.$darkTextShadow}
  --event-node-text-color: #{vars.$darkEventNodeTextColor}
  --event-node-bg-color: #{vars.$darkEventNodeBgColor}
  --event-node-border-color: #{vars.$darkEventNodeBorderColor}
  --event-node-text-color-hovered: #{vars.$darkEventNodeHoverTextColor}
  --event-node-bg-color-hovered: #{vars.$darkEventNodeHoverBgColor}
  --event-node-border-color-hovered: #{vars.$darkEventNodeHoverBorderColor}
  --tooltip-text-color: #{vars.$darkTooltipTextColor}
  --tooltip-bg-color: #{vars.$darkTooltipBgColor}
  --marker-bg-color: #{vars.$darkMarkerBgColor}
  --modal-bg-color: #{vars.$darkModalBgColor}
  --modal-border-color: #{vars.$heavyGray}
  --modal-dialog-color: #{vars.$darkModalDialogColor}
  --offtone-color: #{vars.$subduedGray}
  --offtone-hover-color: #{vars.$lightSteelBlue}
  --button-bg-color: #{vars.$darkModalDialogColorHalf}
  --button-bg-color-hovered: #{vars.$gray700}
  --button-text-color: #{vars.$gray500}
  --button-text-color-hovered: #{vars.$lightSteelBlue}


.sunorhc-timeline-container
  box-sizing: border-box !important
  -webkit-text-size-adjust: 100%
  word-break: normal
  -moz-tab-size: 4
  tab-size: 4
  position: relative
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-between
  align-items: stretch
  width: 100%
  height: max-content
  padding: 1px
  margin: 0 auto
  color: var(--text-color)
  font-size: var(--font-size)
  font-family: var(--font-family)
  font-weight: normal
  line-height: 24px
  background-color: var(--bg-color)
  border-style: none
  outline-style: none
  opacity: 1
  transition: all 0.3s ease-out

  &.preparing
    opacity: 0

  &[data-timeline-layout="rounded"],
  &[data-timeline-linestyle="rounded"]
    border-radius: var(--border-radius, 8px)
    overflow: hidden

  &[data-timeline-outline="true"],
  &[data-timeline-outlined="true"]
    // When outline setting is "both" or "outside"
    padding: 0
    border: var(--outline-style, solid) 1px var(--border-color)

    .sunorhc-timeline-body
      &[data-timeline-outline="true"],
      &[data-timeline-outlined="true"]
        // When outline setting is "both" only
        border-style: none !important

        .sunorhc-timeline-ruler
          &[data-ruler-position="top"]
            margin-top: -1px
            border-top: var(--outline-style, solid) 1px var(--border-color)

          &[data-ruler-position="bottom"]
            border-bottom: var(--outline-style, solid) 1px var(--border-color)

  &[data-timeline-elevation]
    background-color: var(--elevation-bg)

  &[data-timeline-elevation="0"]
    box-shadow: 0 0 0 0 var(--shadow-inner), 0 0 0 0 var(--shadow-middle), 0 0 0 0 var(--shadow-outer) !important

  &[data-timeline-elevation="1"]
    box-shadow: 0 2px 4px -1px var(--shadow-inner), 0 4px 5px 0 var(--shadow-middle), 0 1px 10px 0 var(--shadow-outer) !important
  
  &[data-timeline-elevation="2"]
    box-shadow: 0 5px 5px -3px var(--shadow-inner), 0 8px 10px 1px var(--shadow-middle), 0 3px 14px 2px var(--shadow-outer) !important

  &[data-timeline-elevation="3"]
    box-shadow: 0 8px 10px -5px var(--shadow-inner), 0 16px 24px 2px var(--shadow-middle), 0 6px 30px 5px var(--shadow-outer) !important

  &[data-timeline-elevation="4"]
    box-shadow: 0 11px 15px -7px var(--shadow-inner), 0 24px 38px 3px var(--shadow-middle), 0 9px 46px 8px var(--shadow-outer) !important

  *, ::before, ::after
    background-repeat: none
    box-sizing: inherit

  ::before, ::after
    text-decoration: inherit
    vertical-align: inherit

  *
    padding: 0
    margin: 0

  ul[class^="sunorhc-timeline-"]
    margin-block-start: 0
    margin-block-end: 0
    padding-inline-start: 0
    list-style-type: none

  *[data-text-overflow="hidden"]
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  .sunorhc-timeline-header, .sunorhc-timeline-footer
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center
    width: 100%
    height: max-content
    margin: 0
    padding-top: 3px
    padding-bottom: 3px // = 0.1875em
    background-color: var(--bg-color)
    border-style: none
    outline-style: none
    z-index: 40

    &[data-flex-direction="column"]
      flex-direction: column

    *
      overflow: hidden
      white-space: nowrap
      width: inherit
      text-overflow: ellipsis

    &[hidden]
      display: none

  .sunorhc-timeline-header
    padding: 0
    color: var(--text-color)

    h2
      margin: calc(1em / 3) auto
      padding: 0 16px
      color: var(--text-color)
      font-size: 24px // = 1.5em
      font-weight: 600
      line-height: 36px // = 2.25em

  .sunorhc-timeline-footer
    padding: 8px // = 0.5em
    color: var(--text-color)

    p
      margin: calc(1em / 3) auto
      padding: 0 16px
      font-size: 14px // = 0.875em
      font-weight: 400
      line-height: 20px // = 1.25em
      user-select: none

  .sunorhc-timeline-body
    box-sizing: border-box !important
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch
    width: 100%
    height: 100%
    margin: 0
    padding: 1px
    background-color: transparent
    border-style: none
    outline-style: none
    user-select: none
    z-index: 40

    &[data-timeline-layout="rounded"],
    &[data-timeline-linestyle="rounded"]
      border-radius: var(--border-radius, 8px)// = 0.5em

    &[data-timeline-outline="true"],
    &[data-timeline-outlined="true"]
      // When outline setting is "inside" or "both"
      padding: 0
      border: var(--outline-style, solid) 1px var(--border-color)
      overflow: hidden

      .sunorhc-timeline-sidebar
        top: 1px
        padding-bottom: 0

        &[data-sidebar-position="left"]
          border-right: var(--outline-style, solid) 1px var(--border-color)

        &[data-sidebar-position="right"]
          border-left: var(--outline-style, solid) 1px var(--border-color)

        ul
          border-bottom: var(--outline-style, solid) 1px var(--border-color)
          //border-top: var(--outline-style, solid) 1px var(--border-color)

          li:not(:last-child)
            border-bottom: var(--outline-style, solid) 1px var(--border-color)

      .sunorhc-timeline-main-canvas
        height: calc(100% + 2px)

        .sunorhc-timeline-ruler
          transition: all 0.15s ease-out

          &[data-ruler-position="top"]
            top: 1px
            border-bottom: var(--outline-style, solid) 1px var(--border-color)

            .sunorhc-timeline-ruler-row
              li
                border-right: var(--outline-style, solid) 1px var(--border-color)
                border-bottom: var(--outline-style, solid) 1px var(--border-color)

                &:last-child
                  border-right: none

              &[data-ruler-grain="min"] li,
              &.last-order-row li
                // The dynamic class ".last-order-row" is assigned to an element whose "data-ruler-order" attribute has 
                // the same value as the "data-ruler-rows" attribute value of the parent element ".sunorhc-timeline-ruler".
                padding-bottom: 1px
                border-bottom: none

          &[data-ruler-position="bottom"]
            top: 0
            border-top: var(--outline-style, solid) 1px var(--border-color)

            .sunorhc-timeline-ruler-row
              background-color: var(--ruler-bg-odd)

              li
                border-right: var(--outline-style, solid) 1px var(--border-color)
                border-bottom: var(--outline-style, solid) 1px var(--border-color)

                &:last-child
                  border-right: none

              &.last-order-row li
                // The dynamic class ".last-order-row" is assigned to an element whose "data-ruler-order" attribute has 
                // the same value as the "data-ruler-rows" attribute value of the parent element ".sunorhc-timeline-ruler".
                border-bottom: none

              &[data-ruler-grain="max"]
                bottom: 0
                border-bottom: var(--outline-style, solid) 1px var(--border-color)

          &[data-alternate-rows="true"]
            .sunorhc-timeline-ruler-row
              &:nth-child(2n)
                background-color: var(--ruler-bg-even)

              li:nth-child(2n)
                background-color: var(--ruler-cell-bg-even)
      
      .sunorhc-timeline-nodes
        top: 1px !important

    &[data-timeline-outline="false"],
    &[data-timeline-outlined="false"]
      .sunorhc-timeline-sidebar
        min-height: calc(var(--sidebar-max-height) + 5px)
        border-color: transparent
        border-top: var(--outline-style, solid) 1px transparent
      
        li
          border-color: transparent
          border-bottom: var(--outline-style, solid) 1px transparent

      .sunorhc-timeline-main-canvas
        height: 100%
        border-color: transparent
        border-right: var(--outline-style, solid) 1px transparent
        border-left: var(--outline-style, solid) 1px transparent

    .sunorhc-timeline-sidebar
      box-sizing: border-box !important
      position: relative
      display: block
      max-width: var(--sidebar-max-width, 150px)
      width: 100%
      height: 100%// calc(100% + 1px)
      top: var(--sidebar-adjust-top, 1px)
      margin: 0
      padding: 0
      background-color: var(--bg-color)
      //border-style: none
      border-top: var(--outline-style, solid) 1px var(--border-color)
      outline-style: none
      overflow-y: auto
      z-index: 50

      &[data-sidebar-overflow="true"]
        max-height: var(--sidebar-max-height)
        top: var(--sidebar-adjust-top, 0)
        overflow-y: hidden
        border-bottom: var(--outline-style, solid) 1px var(--border-color)

      &[data-sidebar-position="left"]
        border-right: var(--outline-style, solid) 1px transparent

      &[data-sidebar-position="right"]
        border-left: var(--outline-style, solid) 1px transparent

      ul
        box-sizing: border-box !important
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: stretch
        width: inherit
        height: auto // calc(100% - (offset-top + offset-bottom))
        margin: 0
        padding: 0

        &[data-alternate-rows="true"] li:nth-child(2n)
          background-color: var(--sidebar-bg-even)

        li
          box-sizing: border-box !important
          position: relative
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          justify-content: center
          align-items: center
          margin: 0 auto
          padding: 1px
          width: 100% // calc(100% - 2px) | calc(100% - (border-left + border-right))
          height: var(--sidebar-item-height, 100%)// calc(100% - 2px) | calc(100% - (border-top + border-bottom))
          background-color: var(--sidebar-bg-odd, --bg-color)
          border-style: none

          *
            display: inline-block
            margin: 4px // = 0.25em

            &[data-sidebar-item-type="text"]
              color: attr(data-text-color, inherit)

            &[data-sidebar-item-type="avatar"]
              max-width: calc(100% - 8px)
              max-height: calc(100% - 8px)
              height: inherit
              width: inherit

              img
                display: block
                max-width: 100%
                max-height: 100%
                height: max-content
                width: auto
                margin-top: auto
                margin-bottom: auto

            &[data-sidebar-item-type="icon"]
              max-width: calc(100% - 8px)
              max-height: calc(100% - 8px)

              i
                max-width: inherit
                max-height: inherit

            &[data-sidebar-item-type="image"]
              position: absolute
              margin: 0
              height: 100%
              width: 100%
              text-indent: 100%
              white-space: nowrap
              overflow: hidden
              background-image: var(--bg-image)
              background-repeat: no-repeat
              background-size: cover
              background-position: center center
              z-index: 51

            &[data-sidebar-item-type="caption"]
              position: relative
              margin: 0
              height: inherit
              width: inherit
              display: inline-flex
              justify-content: center
              align-items: center
              z-index: 52

              &[data-caption-position*="top"]
                align-items: start

              &[data-caption-position*="middle"]
                align-items: center

              &[data-caption-position*="bottom"]
                align-items: end

              &[data-caption-position*="left"]
                justify-content: flex-start

              &[data-caption-position*="center"]
                justify-content: center

              &[data-caption-position*="right"]
                justify-content: flex-end

              &[data-caption-color]
                color: var(--text-color)

                span
                  text-shadow: var(--text-shadow)

              span
                display: inline-block
                max-height: inherit
                max-width: inherit
                overflow: hidden

              &[data-caption-overflow="hidden"] span
                white-space: nowrap
                text-overflow: ellipsis

          &[data-sidebar-item-action]
            cursor: pointer

            &:hover
              color: var(--link-text)
              box-shadow: inset 0 0 0 1px rgba(var(--link-text),.2)
              background-color: var(--link-hover-bg)

    .sunorhc-timeline-main-canvas
      box-sizing: border-box !important
      position: relative
      width: var(--main-visible-width)
      height: auto
      margin-left: -1px
      margin-right: -1px
      border-left: var(--outline-style, solid) 1px var(--border-color)
      border-right: var(--outline-style, solid) 1px var(--border-color)
      overflow: hidden
      z-index: 20

      &[data-hide-scrollbar="true"]::-webkit-scrollbar
        overflow: auto
        display: none

      .sunorhc-timeline-ruler
        box-sizing: border-box !important
        position: relative
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: space-evenly
        align-items: stretch
        width: max-content
        margin: 0
        padding: 0
        border-style: none
        //border: var(--outline-style, solid) 1px transparent
        outline-style: none
        overflow: hidden

        &[data-ruler-position="top"]
          top: 0// 1px

          &[data-overlay-sticky="top"]
            position: sticky
            top: 0// 1px
            z-index: 25
            background-color: var(--elevation-bg)
      
        &[data-ruler-position="bottom"]
          //top: 6px

          &[data-overlay-sticky="bottom"]
            position: sticky
            bottom: 0//1px
            z-index: 25
            background-color: var(--elevation-bg)

        .sunorhc-timeline-ruler-row
          box-sizing: border-box !important
          position: relative
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          justify-content: space-evenly
          align-items: stretch
          list-style-type: none
          width: 100%
          margin: 0
          padding: 0
          background-color: var(--bg-color)
          overflow: hidden

          &[data-ruler-order]
            order: 0

          &[data-ruler-order="1"]
            order: 1

          &[data-ruler-order="2"]
            order: 2

          &[data-ruler-order="3"]
            order: 3

          &[data-ruler-order="4"]
            order: 4

          &[data-ruler-order="5"]
            order: 5

          &[data-ruler-order="6"]
            order: 6

          &[data-ruler-order="7"]
            order: 7

          &[data-ruler-order="8"]
            order: 8

          &[data-ruler-order="9"]
            order: 9

          li
            box-sizing: border-box !important
            display: inline-block
            width: 100%
            min-width: var(--min-grain-width, 48px)
            height: max-content
            min-height: var(--ruler-row-height, 23px)
            margin: 0
            font-size: var(--ruler-item-font, inherit)
            color: var(--ruler-text-color, inherit)
            line-height: 1.428
            vertical-align: middle
            text-align: center
            background-color: var(--ruler-bg-color, --bg-color)
            border-style: none
            outline-style: none
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
          
          &[data-ruler-grain="min"]
            li
              max-width: var(--min-grain-width, 48px)

      .sunorhc-timeline-nodes
        box-sizing: border-box !important
        position: relative
        height: 100% // calc(100% - calc(96px + 72px)) // calc(100% - (ruler-top-height + ruler-bottom-height))
        width: 100%
        top: 0//6px // number of borders in top ruler + margin?
        background-color: rgba(var(--canvas-bg-odd),.5)
        outline-style: none
        z-index: 21

        &[data-background="striped"]
          //background-image: repeating-linear-gradient(135deg, rgba(vars.$nodeContainerBGColor1, 0.6), rgba(vars.$nodeContainerBGColor1, 0.6) 1em, rgba(vars.$nodeContainerBGColor2, 0.5) 1em, rgba(vars.$nodeContainerBGColor2, 0.5) 2em)
          background-image: repeating-linear-gradient(135deg, var(--canvas-bg-even), var(--canvas-bg-even) 40px, var(--canvas-bg-odd) 40px, var(--canvas-bg-odd) 80px)

        &[data-background="grid"]
          //background-image: linear-gradient(rgba(vars.$borderColor, 0.3) 1px, transparent 0), linear-gradient(90deg, rgba(vars.$borderColor, 0.3) 1px, vars.$noneColor 0)
          background-image: linear-gradient(var(--canvas-border) 1px, transparent 0), linear-gradient(90deg, var(--canvas-border) 1px, transparent 0)
          background-size: var(--canvas-grid-width) var(--canvas-grid-height)
          //background-size: var(--canvas-grid-width, 85.25px) var(--canvas-grid-height, 80px)
          //background-size: 85.25px 80px // 1st is width of ruler cell, 2nd is height of sidebar row item
          background-position: var(--canvas-grid-interval, -0.5px) var(--canvas-grid-interval, -0.5px)
          //background-position: -0.5px -0.5px
          background-repeat: repeat

        &[data-background="toned"]
          background-color: transparent
          //background-image: repeating-linear-gradient(0deg, var(--canvas-bg-even), var(--canvas-bg-even) calc(100% / var(--canvas-grid-rows)), var(--canvas-bg-odd) calc(100% / var(--canvas-grid-rows)), var(--canvas-bg-odd) calc(calc(100% / var(--canvas-grid-rows-half)) - 1px))
          background-image: repeating-linear-gradient(0deg, var(--canvas-bg-even), var(--canvas-bg-even) calc(100% / var(--canvas-grid-rows, 5)), var(--canvas-bg-odd) calc(100% / var(--canvas-grid-rows, 5)), var(--canvas-bg-odd) calc(calc(100% / var(--canvas-grid-rows-half, 2.5)) - 1px))
          background-position: 0 -3px

        &[data-background="plaid"]
          position: relative
          background-color: transparent
          //background-image: repeating-linear-gradient(0deg, var(--canvas-bg-even), var(--canvas-bg-even) calc(100% / var(--canvas-grid-rows)), var(--canvas-bg-odd) calc(100% / var(--canvas-grid-rows)), var(--canvas-bg-odd) calc(calc(100% / var(--canvas-grid-rows-half)) - 1px))
          background-image: repeating-linear-gradient(0deg, var(--canvas-bg-even), var(--canvas-bg-even) calc(100% / var(--canvas-grid-rows, 5)), var(--canvas-bg-odd) calc(100% / var(--canvas-grid-rows, 5)), var(--canvas-bg-odd) calc(calc(100% / var(--canvas-grid-rows-half, 2.5)) - 1px))
          background-position: 0 calc(var(--canvas-grid-rows-half) * -0.5px)

          &::after
            position: absolute
            content: ''
            top: 0
            left: 0
            height: 100%
            width: 100%
            background-image: linear-gradient(var(--canvas-border) 1px, transparent 0), linear-gradient(90deg, var(--canvas-border) 1px, transparent 0)
            background-size: var(--canvas-grid-width) var(--canvas-grid-height)
            //background-size: 85.25px 80px // 1st is width of ruler cell, 2nd is height of sidebar row item
            //background-position: -0.5px -0.5px
            background-position: var(--canvas-grid-interval, -0.5px) var(--canvas-grid-interval, -0.5px)
            background-repeat: repeat
            z-index: 22
        
        .sunorhc-timeline-event-node
          position: absolute
          display: inline-flex
          height: var(--event-node-height, 16px)
          width: var(--event-node-width, 16px)
          top: var(--event-node-y, calc(80px - 8px)) // This axis Y is dynamic calculation value
          left: var(--event-node-x, calc(83px - 8px)) // This axis X is dynamic calculation value
          justify-content: center
          align-items: center
          text-align: left
          vertical-align: middle
          font-size: clamp(8px, calc(var(--event-node-height, 14px) * 0.7), 16px)
          color: var(--event-node-text-color)
          background-color: var(--event-node-bg-color)
          border: solid var(--event-node-border-width, 1px) var(--event-node-border-color)
          border-radius: var(--event-node-border-radius, 50%)
          cursor: var(--event-node-cursor, default)
          z-index: var(--event-node-z-index, 25)
          opacity: 1
          transition: all 0.3s ease-out

          &.preparing
            opacity: 0

          &.bar-type
            border-radius: var(--event-node-border-radius, 10%)

            &.before-start
              border-left-width: 0
              border-top-left-radius: 0
              border-bottom-left-radius: 0

            &.after-end
              border-right-width: 0
              border-top-right-radius: 0
              border-bottom-right-radius: 0

          &:hover
            color: var(--event-node-text-color-hovered)
            background-color: var(--event-node-bg-color-hovered)
            border: solid var(--event-node-border-width) var(--event-node-border-color-hovered)

          &> span
            font-size: inherit
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            pointer-events: none

        .present-time-marker
          position: absolute
          display: inline-block
          top: 0
          left: var(--marker-x, -1px)
          width: var(--marker-w, 0)
          height: var(--marker-h, 0)
          background-color: var(--marker-bg-color, rgba(#fffbeb, .25))
          pointer-events: none
          z-index: 21

    .sunorhc-timeline-tooltip-container
      position: absolute
      height: 100%
      width: 100%
      background-color: transparent
      z-index: 0
      pointer-events: none

      .sunorhc-timeline-tooltip
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: space-evenly
        position: absolute
        padding: var(--tooltip-padding, 8px)
        font-size: var(--tooltip-font-size, 12px)
        line-height: 1.4
        color: var(--tooltip-text-color)
        border-radius: var(--tooltip-bd-radius, 4px)
        border-style: none
        background-color: var(--tooltip-bg-color)
        top: var(--tooltip-top, 0)
        left: var(--tooltip-left, 0)
        height: max-content// var(--tooltip-height, max-content)
        width: max-content// var(--tooltip-width, max-content)
        visibility: hidden
        opacity: 0
        z-index: 81
        pointer-events: none
        transition: opacity .3s ease-out
        transform: scale(0)
        animation-fill-mode: forwards
        animation-name: shrink
        animation-duration: 0.1s

        &::after
          content: ''
          position: absolute
          border-width: var(--tooltip-tail-size, 10px)
          border-style: solid
          z-index: 82
          pointer-events: none
          transition: opacity .1s linear

        &.top
          transform-origin: center bottom
          
          &::after
            top: 100%
            left: 50%
            transform: translateX(-50%)
            border-color: var(--tooltip-bg-color) transparent transparent transparent

        &.bottom
          transform-origin: center top

          &::after
            bottom: 100%
            left: 50%
            transform: translate(-50%)
            border-color: transparent transparent var(--tooltip-bg-color) transparent

        &.left
          transform-origin: right center

          &::after
            top: 50%
            right: calc(var(--tooltip-tail-size, 10px) * -2)
            transform: translateY(-50%)
            border-color: transparent transparent transparent var(--tooltip-bg-color)

        &.right
          transform-origin: left center

          &::after
            top: 50%
            left: calc(var(--tooltip-tail-size, 10px) * -2)
            transform: translateY(-50%)
            border-color: transparent var(--tooltip-bg-color) transparent transparent

        &.shown
          visibility: visible
          opacity: 1
          box-shadow: 0 2px 4px -1px var(--shadow-inner), 0 4px 5px 0 var(--shadow-middle), 0 1px 10px 0 var(--shadow-outer)
          animation-name: expand-bounce
          animation-duration: 0.25s


  &[dir="rtl"]
    .sunorhc-timeline-body
      &[data-timeline-outlined="true"]
        .sunorhc-timeline-sidebar
          &[data-sidebar-position="left"]
            border-left: var(--outline-style, solid) 1px var(--border-color)
            border-right: none

          &[data-sidebar-position="right"]
            border-left: none
            border-right: var(--outline-style, solid) 1px var(--border-color)

        .sunorhc-timeline-ruler
          .sunorhc-timeline-ruler-row
            li
              border-left: var(--outline-style, solid) 1px var(--border-color)
              border-right: none

              &:last-child
                border-left: none

        .sunorhc-timeline-nodes
          &[data-background="grid"]
            background-position: 0 0

          &[data-background="plaid"]
            &::after
              background-position: 0 0

          .present-time-marker
            left: calc(var(--marker-x, -1px) + 1px)

  .border-top
    border-top: var(--outline-style, solid) 1px var(--border-color)

  .border-bottom
    border-bottom: var(--outline-style, solid) 1px var(--border-color)

  .border-left
    border-left: var(--outline-style, solid) 1px var(--border-color)

  .border-right
    border-right: var(--outline-style, solid) 1px var(--border-color)

// Modal

.sunorhc-timeline-modal-container
  position: fixed
  display: none
  height: 100vh
  width: 100%
  left: 0
  right: 0
  top: 0
  margin: 0
  overflow-x: hidden
  overflow-y: auto
  background-color: var(--modal-bg-color)
  outline: 2px solid transparent
  outline-offset: 2px
  justify-content: center
  align-items: center
  transition-property: all
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration: 300ms
  z-index: 1055

  .sunorhc-timeline-modal-dialog-ref
    position: relative
    width: 100%
    height: 100%
    margin: 0
    opacity: 0
    transform: translateY(-25%)
    transition-property: all
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 300ms
    //transition: all 300ms ease-in-out
    pointer-events: none
    z-index: 1056

    &.shown
      opacity: 1
      pointer-events: auto

  .sunorhc-timeline-modal-dialog
    position: absolute
    display: flex
    flex-direction: column
    max-height: calc(100vh - 4rem)
    height: max-content
    width: var(--modal-width, 500px)// calc(100% - 4rem)
    border-radius: 6px
    border-style: none
    background-color: var(--modal-dialog-color)
    background-clip: padding-box
    color: var(--text-color)
    //box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
    //box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)
    outline: 2px solid transparent
    outline-offset: 2px
    left: 50%
    top: 24px
    transform: translate(-50%, -25%)
    opacity: 0
    transition-property: all
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 300ms
    z-index: 1057

    &.fullsize
      max-height: 100vh
      height: 100vh
      box-shadow: none
      left: 50%
      top: 0
      border-radius: 0
      transform: translate(-50%, 0)

      .sunorhc-timeline-modal-body
        height: 100%

    .sunorhc-timeline-modal-header
      display: flex
      justify-content: space-between
      align-items: center
      padding: .5rem 1rem
      border-bottom: solid 1px var(--modal-border-color)
      z-index: 1058

      h3
        font-size: 1.25rem
        line-height: 1.75rem
        font-weight: 600

      .sunorhc-timeline-modal-dismiss
        padding: 0
        height: 24px
        pointer-events: auto

        &>*
          display: inline-block
          width: 24px
          height: 24px
          color: var(--offtone-color)
        
        &:hover>*
          color: var(--offtone-hover-color)

    .sunorhc-timeline-modal-body
      position: relative
      padding: 1rem
      text-align: left
      font-size: 1rem
      line-height: 1.5rem
      overflow-y: auto
      z-index: 1058

    .sunorhc-timeline-modal-footer
      display: flex
      justify-content: flex-end
      align-items: center
      padding: .5rem 1rem
      border-top: solid 1px var(--modal-border-color)
      z-index: 1058

      .sunorhc-timeline-modal-close
        padding: .25rem 1rem
        border-radius: 6px
        background-color: var(--button-bg-color)
        color: var(--button-text-color)
        text-transform: uppercase
        font-size: 0.875rem
        line-height: 1.25rem
        pointer-events: auto

        &:hover
          background-color: var(--button-bg-color-hovered)
          color: var(--button-text-color-hovered)


  .sunorhc-timeline-modal-dialog-ref.shown + .sunorhc-timeline-modal-dialog
    opacity: 1
    transform: translate(-50%, 24px)

  .sunorhc-timeline-modal-dialog-ref.shown + .sunorhc-timeline-modal-dialog.fullsize
    opacity: 1
    transform: translate(-50%, 0)
    z-index: 10000 !important

// Animations

@keyframes expand-bounce
  0%
    transform: scale(0)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

@keyframes shrink
  0%
    transform: scale(1)
  100%
    transform: scale(0)


// Extended Styles

ul:where([data-ruler-type="weekday"], [data-ruler-type="day"]) > li
  &[data-item-datetime*=",sat"]
    position: relative
    display: inline-block
    color: var(--ruler-sat-text)

  &[data-item-datetime*=",sun"], &[data-item-datetime*=",hol"]
    position: relative
    display: inline-block
    color: var(--ruler-sun-text)

.sunorhc-timeline-ruler.force-day-bg-color
  ul:where([data-ruler-type="weekday"], [data-ruler-type="day"]) > li
    &[data-item-datetime*=",sat"]
      background-color: var(--ruler-sat-bg) !important

    &[data-item-datetime*=",sun"], &[data-item-datetime*=",hol"]
      background-color: var(--ruler-sun-bg) !important


// Test class as like TailwindCSS

.text-teal-600
  color: #0d9488 !important

.dark-theme
  .dark\:text-teal-400
    color: #2dd4bf !important

// Autoprefixer Test Styles

.autoprefixer-test
  @include test.autoprefixerTest()
