@media (prefers-color-scheme: light) {
    :root {
        --color-black:    #151513;
        --color-gray-900: #111827;
        --color-gray-800: #1F2937;
        --color-gray-700: #374151;
        --color-gray-600: #4B5563;
        --color-gray-500: #6B7280;
        --color-gray-400: #9CA3AF;
        --color-gray-300: #D1D5DB;
        --color-gray-200: #E5E7EB;
        --color-gray-100: #F3F4F6;
        --color-gray-50:  #F9FAFB;
        --color-white:    #FFFFFF;
        --custom-duration: 280ms;
    }

    html {
        background-color: #FFFFFF;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-black:    #FFFFFF;
        --color-gray-900: #F9FAFB;
        --color-gray-800: #F3F4F6;
        --color-gray-700: #E5E7EB;
        --color-gray-600: #D1D5DB;
        --color-gray-500: #9CA3AF;
        --color-gray-400: #6B7280;
        --color-gray-300: #4B5563;
        --color-gray-200: #374151;
        --color-gray-100: #1F2937;
        --color-gray-50:  #111827;
        --color-white:    #151513;
        --custom-duration: 75ms;
    }

    html {
        background-color: #151513;
    }
}

body {
    background-color: transparent;
}

.github-corner {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.github-corner svg {
    position: absolute;
    top: 0;
}

.github-corner svg.github-corner-right {
    left: auto;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner svg.github-corner-left {
    right: auto;
    left: 0;
}

.github-corner.right svg.github-corner-right {
    display: block;
}

.github-corner.right svg.github-corner-left {
    display: none;
}

.github-corner.left svg.github-corner-left {
    display: block;
}

.github-corner.left svg.github-corner-right {
    display: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

body:not(.darkmode--activated) .fill-black,
body.darkmode--activated .dark\:fill-black {
    fill: var(--color-black);
}

body:not(.darkmode--activated) .fill-white,
body.darkmode--activated .dark\:fill-white {
    fill: var(--color-white);
}

body.darkmode--activated .dark\:text-white {
    color: var(--color-white);
}

body.darkmode--activated .dark\:bg-gray-900 {
    background-color: var(--color-gray-900);
}

body.darkmode--activated .dark\:bg-gray-700 {
    background-color: var(--color-gray-700);
}

body.darkmode--activated option {
    background-color: var(--color-gray-900);
    color: var(--color-white);
}

body.darkmode--activated optgroup {
    background-color: var(--color-gray-900);
    color: var(--color-gray-400);
    font-weight: 400;
}

body:not(.darkmode--activated) .custom-duration {
    transition-duration: var(--custom-duration);
}

body.darkmode--activated .custom-duration {
    transition-duration: var(--custom-duration);
}

body.darkmode--activated .dark\:placeholder-gray-400::placeholder {
    color: var(--color-gray-400);
}

/* For Sunorhc.Timeline components */

.sunorhc-timeline-sidebar span[data-sidebar-item-type="avatar"] img {
    border-radius: 4px;
}

#sunorhc-timeline-event-details code,
.sunorhc-timeline-modal-dialog code {
    display: inline-flex;
    padding: 5px 12px;
    margin: 4px;
    margin-top: 8px;
    align-items: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-gray-300);
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: var(--color-gray-700);
    background-color: var(--color-gray-100);
}
