@charset "UTF-8";

@font-face{ 
  font-family: 'mplus-1p-regular';
  src: url('../fonts/mplus-1p-regular.eot');
  src: url('../fonts/mplus-1p-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mplus-1p-regular.ttf') format('truetype'),
       url('../fonts/mplus-1p-regular.woff') format('woff');
}

:root {
  font-family: mplus-1p-regular, -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: weight style small-caps;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear-font {
  transform: rotate(0.03deg);
}

.sunorhc-timeline-container {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #333333;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, mplus-1p-regular, Avenir, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  background-color: transparent;
  border-style: none;
  outline-style: none;
}
.sunorhc-timeline-container[data-timeline-font=ja] {
  font-family: mplus-1p-regular, Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.sunorhc-timeline-container[data-timeline-font=ja2] {
  font-family: mplus-1p-regular, "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.sunorhc-timeline-container[data-timeline-layout=rounded] {
  border-radius: 0.5em;
  overflow: hidden;
}
.sunorhc-timeline-container[data-timeline-outline=true] {
  border-style: solid;
  border-width: 1px;
  border-color: #6b7280;
}
.sunorhc-timeline-container[data-timeline-elevation] {
  background-color: #FFFFFF;
}
.sunorhc-timeline-container[data-timeline-elevation="0"] {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12) !important;
}
.sunorhc-timeline-container[data-timeline-elevation="1"] {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.sunorhc-timeline-container[data-timeline-elevation="2"] {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}
.sunorhc-timeline-container[data-timeline-elevation="3"] {
  -webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
}
.sunorhc-timeline-container[data-timeline-elevation="4"] {
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
}
.sunorhc-timeline-container *, .sunorhc-timeline-container ::before, .sunorhc-timeline-container ::after {
  background-repeat: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.sunorhc-timeline-container ::before, .sunorhc-timeline-container ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
.sunorhc-timeline-container * {
  padding: 0;
  margin: 0;
}
.sunorhc-timeline-container ul[class^=sunorhc-timeline-] {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.sunorhc-timeline-container *[data-text-overflow=hidden] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sunorhc-timeline-container .sunorhc-timeline-header, .sunorhc-timeline-container .sunorhc-timeline-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding-top: 0.1875em;
  padding-bottom: 0.1875em;
  background-color: #FFFFFF;
  border-style: none;
  outline-style: none;
  z-index: 99;
}
.sunorhc-timeline-container .sunorhc-timeline-header[data-flex-direction=column], .sunorhc-timeline-container .sunorhc-timeline-footer[data-flex-direction=column] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sunorhc-timeline-container .sunorhc-timeline-header *, .sunorhc-timeline-container .sunorhc-timeline-footer * {
  overflow: hidden;
  white-space: nowrap;
  width: inherit;
  text-overflow: ellipsis;
}
.sunorhc-timeline-container .sunorhc-timeline-header {
  padding: 0;
  color: #374151;
}
.sunorhc-timeline-container .sunorhc-timeline-header h2 {
  margin: 0.3333333333em auto;
  padding: 0 1em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sunorhc-timeline-container .sunorhc-timeline-footer {
  padding: 0.5em;
  color: #9ca3af;
}
.sunorhc-timeline-container .sunorhc-timeline-footer p {
  margin: 0.3333333333em auto;
  padding: 0 1em;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 80;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-layout=rounded] {
  border-radius: 0.5em;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] {
  border: solid 1px #6b7280;
  overflow: hidden;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-sidebar[data-sidebar-position=left] {
  border-right: solid 1px #d946ef;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-sidebar[data-sidebar-position=right] {
  border-left: solid 1px #d946ef;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-sidebar ul {
  border-top: solid 1px #d946ef;
  border-bottom: solid 1px #d946ef;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-sidebar ul li:not(:last-child) {
  border-bottom: solid 1px #d946ef;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler {
  outline: solid 1px #f43f5e;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=top] .sunorhc-timeline-ruler-row li {
  border-right: solid 1px #14b8a6;
  border-bottom: solid 1px #14b8a6;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=top] .sunorhc-timeline-ruler-row li:last-child {
  border-right: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=top] .sunorhc-timeline-ruler-row[data-ruler-grain=min] li, .sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=top] .sunorhc-timeline-ruler-row.last-order-row li {
  border-bottom: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=bottom] {
  margin-top: -1px;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=bottom] .sunorhc-timeline-ruler-row li {
  border-right: solid 1px #14b8a6;
  border-bottom: solid 1px #14b8a6;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=bottom] .sunorhc-timeline-ruler-row li:last-child {
  border-right: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-ruler-position=bottom] .sunorhc-timeline-ruler-row.last-order-row li {
  border-bottom: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-alternate-rows=true] .sunorhc-timeline-ruler-row:nth-child(2n) {
  background-color: #f3f4f6;
}
.sunorhc-timeline-container .sunorhc-timeline-body[data-timeline-outline=true] .sunorhc-timeline-ruler[data-alternate-rows=true] .sunorhc-timeline-ruler-row li:nth-child(2n) {
  background-color: rgba(229, 231, 235, 0.5);
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  max-width: 150px;
  width: 100%;
  height: calc(100% + 1px);
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: none;
  outline: none;
  z-index: 50;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: inherit;
  height: calc(100% - 126px);
  margin: 0;
  padding: 0;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul[data-alternate-rows=true] li:nth-child(2n) {
  background-color: #f3f4f6;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-style: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li * {
  display: inline-block;
  margin: 0.25em;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=avatar] {
  max-width: calc(100% - 0.5em);
  max-height: calc(100% - 0.5em);
  height: inherit;
  width: inherit;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=avatar] img {
  display: block;
  max-width: inherit;
  max-height: inherit;
  height: 100%;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=icon] {
  max-width: calc(100% - 0.5em);
  max-height: calc(100% - 0.5em);
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=icon] i {
  max-width: inherit;
  max-height: inherit;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=image] {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 51;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption] {
  position: relative;
  margin: 0;
  height: inherit;
  width: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 52;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=top] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=middle] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=bottom] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=left] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=center] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-position*=right] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-color] {
  color: var(--text-color);
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption] span {
  display: inline-block;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li *[data-sidebar-item-type=caption][data-caption-overflow=hidden] span {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li[data-sidebar-item-action] {
  cursor: pointer;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-sidebar ul li[data-sidebar-item-action]:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(50, 119, 179, 0.2);
          box-shadow: inset 0 0 0 1px rgba(50, 119, 179, 0.2);
  background-color: rgba(173, 216, 230, 0.5);
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  /* 親要素.sunorhc-timeline-bodyのwidth:100% から左右サイドバー要素の幅を減算した値をwidthとする（動的算出） */
  width: calc(100% - 300px);
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 20;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  overflow: hidden;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order] {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="1"] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="2"] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="3"] {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="4"] {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="5"] {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="6"] {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="7"] {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="8"] {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row[data-ruler-order="9"] {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-ruler .sunorhc-timeline-ruler-row li {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  display: inline-block;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border-style: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-nodes {
  height: 100%;
  margin-top: 1px;
  background-color: rgba(240, 240, 240, 0.5);
  outline: none;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-nodes[data-background=striped] {
  background-image: repeating-linear-gradient(135deg, rgba(240, 240, 240, 0.6), rgba(240, 240, 240, 0.6) 1em, rgba(230, 230, 230, 0.5) 1em, rgba(230, 230, 230, 0.5) 2em);
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-nodes[data-background=grid] {
  background-image: linear-gradient(rgba(199, 196, 191, 0.3) 1px, transparent 0), linear-gradient(90deg, rgba(199, 196, 191, 0.3) 1px, transparent 0);
  background-size: 2em 2em;
  background-position: -1px -1px;
  background-repeat: repeat;
}
.sunorhc-timeline-container .sunorhc-timeline-body .sunorhc-timeline-main-canvas .sunorhc-timeline-nodes[data-background=toned] {
  background-color: transparent;
  background-image: repeating-linear-gradient(0deg, rgba(240, 240, 240, 0.3), rgba(240, 240, 240, 0.3) 80px, rgba(230, 230, 230, 0.5) 80px, rgba(230, 230, 230, 0.5) 160px);
  background-position: 0 -2px;
}

ul:where([data-ruler-type=weekday], [data-ruler-type=day]) > li[data-item-datetime$=",sat"] {
  position: relative;
  display: inline-block;
  color: #3277B3;
  background-color: #9BE0F1 !important;
}
ul:where([data-ruler-type=weekday], [data-ruler-type=day]) > li[data-item-datetime$=",sat"]::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 82px;
  width: 100vh;
  bottom: 100%;
  right: 100%;
  background-color: rgba(155, 224, 241, 0.5);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 9999;
}
ul:where([data-ruler-type=weekday], [data-ruler-type=day]) > li[data-item-datetime$=",sun"] {
  color: #CB366E;
  background-color: #F898A4 !important;
}/*# sourceMappingURL=sunorhc-timeline.css.map */